<h1>Stock list</h1> 
<div *ngIf="articles && articles.length > 0" class="col-sm-12">
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let item of articles">
            <td>{{item.id}}</td>
            <td>{{item.name | uppercase }}</td>
            <td>{{item.stock}}</td>
            <td>{{item.price}}</td>
        </tr>
    </table>
    <a class="btn btn-default">Add ordered items</a>
    <a class="btn btn-default">Create order for customer</a>
</div>